<h1>New Subject</h1>
<%= link_to 'Back', controller: 'subjects' %>
<%= form_for :subject, url: subjects_path do |f| %>
  <p>
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>